.header_remind {
	width: 100%;
	height: 60px;
	background-color: rgba(233,232,232,0.8);
	position: fixed;
	font-weight: bold;
	color: #d2160a;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 10
}

.header_remind .close {
	position: fixed;
	top: 15px;
	right: 10px;
	display: inline-block;
	color: #fff;
	background-color: transparent;
	width: 30px;
	line-height: 26px;
	height: 30px;
	border: 1px solid transparent;
	-webkit-border-radius:50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.header_remind .close:hover {
	color: #fff;
	background-color: #f93;
	border-color: #f82
}

.header_hide {
	display: none
}

.footer_link {
	position: fixed;
	bottom: 140px;
	right: 0;
	left: 0;
	z-index: 5;
	min-width: 960px;
	color: #ededed
}

.footer_link .footer_container {
	position: absolute;
	left: 55%;
	width: 45%;
	margin-left: 90px
}

.footer_link .footer_container h3 {
	font-weight: normal
}

.footer_link .footer_container span {
	width: 100%;
	float: left;
	padding: 2px 0
}

.footer_link .footer_container span a {
	z-index: 10;
	color: #f93
}

.footer_link .footer_container span a:hover {
	text-decoration: underline
}

* {
	box-sizing: border-box
}

body {
	margin: 0;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	line-height: 1.42857143;
	color: #333;
	background: #0a783c;
	transition: background-color 2s linear
}

a {
	text-decoration: none;
	color: #337ab7
}

h1,h2,h3 {
	margin-bottom: 10px;
	margin-top: 20px
}

p {
	margin: 0 0 10px
}

ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
	list-style: none
}

@font-face {
	font-family:nameFont;src:url('../res/myFont.ttf')
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	padding-top: 20px;
	position: relative
}

.container:before {
	content: "";
	display: table
}

.container:after {
	content: "";
	display: table;
	clear: both
}

.side_left {
	float: left;
	width: 480px
}

.side_right_parent {
	position: fixed;
	top: 20px;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -10;
	min-width: 960px
}

.side_right_parent .side_right {
	position: absolute;
	left: 55%;
	width: 432px
}

.side_right:after {
	content: '';
	display: table;
	clear: both
}

.color_bar {
	width: 30%;
	float: left
}

.color_bar .cvs_CMYK {
	display: block
}

.color_bar .css_RGB {
	width: 60px;
	color: #fff
}

.color_bar .css_RGB ul {
	width: 60px
}

.color_bar .css_RGB ul li {
	width: 60px;
	float: left;
	border-bottom: 1px solid #dedede
}

.color_bar .css_RGB ul li p {
	font-size: 1.2em;
	margin: 0 0 10px 2px
}

.color_bar .css_RGB ul li .num_span {
	width: 60px;
	float: right;
	overflow: hidden;
	font-size: 18px;
	height: 18px;
	margin-bottom: 6px
}

.color_bar .css_RGB ul li .num_span span {
	float: right;
	width: 15px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	margin-top: 0;
	transition: margin-top 1.5s ease-out
}

.color_bar .css_RGB ul li .num_span span:first-child {
	margin-right: -6px
}

.color_bar .css_RGB ul li .num_span :after {
	content: '';
	display: table;
	clear: both
}

.color_name {
	width: 40%;
	float: left;
	text-align: center;
	color: #fefefe
}

.color_name h2 {
	font-family: "nameFont";
	width: 70px;
	font-size: 5em;
	line-height: 1.25;
	margin: 20px auto 0
}

.color_name p {
	font-weight: bold;
	margin-top: -10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.color_name .animating {
	-webkit-animation: fade-in-out 2s ease-out;
	-o-animation: fade-in-out 2s ease-out;
	animation: fade-in-out 2s ease-out
}

.title {
	width: 30%;
	float: left
}

.title img {
	float: right
}

.color_map:after {
	content: '';
	display: table;
	clear: both
}

.color_map {
	width: 100%
}

.color_map .li_container {
	float: left;
	width: 50px;
	height: 278px;
	border-top: 6px solid #920514;
	margin-left: 15px;
	margin-bottom: 15px
}

.color_map .li_container a {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative
}

.color_map .li_container a span {
	display: inline-block;
	color: #fff
}

.color_map .li_container a .name {
	padding-top: 1em;
	width: 1em;
	margin-left: 30px;
	height: 50px;
	font-weight: 500;
	font-size: 17px
}

.color_map .li_container a .pinyin {
	position: absolute;
	top: 148px;
	left: 37px;
	width: 1em;
	writing-mode: vertical-rl;
	font-size: 15px
}

.color_map .li_container a .rgb {
	word-wrap: break-word;
	position: absolute;
	top: 148px;
	left: 2px;
	width: 1em;
	writing-mode: vertical-rl;
	font-size: 14.4px
}

.color_map .li_container a canvas {
	position: absolute;
	left: 0;
	top: 0
}

.color_map .li_container:after {
	content: '';
	display: table;
	clear: both
}

.color_map .li_container:hover {
	background-color: rgba(255,255,255,0.3)
}

@keyframes fade-in-out {
	0% {
		opacity: 1
	}

	50% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@-webkit-keyframes fade-in-out {
	0% {
		opacity: 1
	}

	50% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@-o-keyframes fade-in-out {
	0% {
		opacity: 1
	}

	50% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}